/* table {
border-collapse: collapse;
}

td,
th {
border: 1px solid black;
padding: 3px;
text-align: center;
}

th {
font-weight: bold;
background-color: #E6E6E6;
} */

/* .hour {
color: red
}

.min {
color: green
}

.sec {
color: blue
} */

/* .notification {
position: fixed;
z-index: 1000;
padding: 5px;
border: 1px solid black;
font-size: 20px;
background: white;
text-align: center;
}

.welcome {
background: #b80000;
color: yellow;
} */

/* #field {
width: 200px;
border: 10px groove black;
background-color: #00FF00;
position: relative;
}

#ball {
position: absolute;
}

#ball {
width: 40px;
height: 40px;
} */

/* body {
height: 2000px;
}

#field {
width: 200px;
height: 150px;
border: 10px solid black;
background-color: #00FF00;
position: relative;
overflow: hidden;
cursor: pointer;
}

#ball {
position: absolute;
left: 0;
top: 0;
width: 40px;
height: 40px;
transition: all 1s;
} */

/* .menu ul {
    margin: 0;
    list-style: none;
    padding-left: 20px;
    display: none;
}

.menu .title {
    font-size: 18px;
    cursor: pointer;
}

.menu .title::before {
    content: '▶ ';
    font-size: 80%;
    color: green;
}

.menu.open .title::before {
    content: '▼ ';
}

.menu.open ul {
    display: block;
} */






































































/*  */
